.start {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: rgb(163, 8, 12);
    text-decoration: none;
    color: white;
    width: 300px;
    text-align: center;
    padding: 15px
}

.form {
    border-style: dashed;
    padding: 15px;
    margin: 15px;

}

.links > button {
    color: rgb(163, 8, 12)

}